<section id="page_two" data-transition="slide">

    <header class="nav">
        <nav class="on-left">
            <a href="#" data-view-section="back" data-icon="chevron-left"></a>
        </nav>
        <h1 class="title centered">
            Moby
        </h1>
        <nav class="on-right">
            <a href="#"><span class="icon user"></span></a>
        </nav>
    </header>

    <nav data-control="groupbar" class="groupbar">
        <a href="#" data-view-article="layout-art1" data-label="Tab One" class="active"></a>
        <a href="#" data-view-article="layout-art2" data-label="Tab Two"></a>
        <a href="#" data-view-article="layout-art3" data-label="Tab Three"></a>
    </nav>

        <article id="layout-art1">
            <div class="form">
                <fieldset data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list mylist scroll">
               <ul>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>

        </article>

        <article id="layout-art2">
            <div class="form">
                <fieldset data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list">
               <ul>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>

        </article>
        <article id="layout-art3">
            <div class="form">
                <fieldset class="search" data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list">
               <ul>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>
        </article>

        <footer class="footer">
            <h1 class="title centered">Sticky Footer</h1>
        </footer>
    </section>