<section id="features" data-transition="slide">
    <header data-title="Layout" data-back="chevron-left">
        <nav class="on-right">
            <button data-view-section="splash" data-async="static/sections/splash.html" data-icon="user"></button>
        </nav>
    </header>

    <nav data-control="groupbar" class="group-bar">
            <a href="#" data-view-article="layout-art1" data-label="One" class="active"></a>
            <a href="#" data-view-article="layout-art2" data-label="Two"></a>
            <a href="#" data-view-article="layout-art3" data-label="Three"></a>
        </nav>

        <article id="layout-art1">
            <div class="form">
                <fieldset data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list mylist scroll">
               <ul>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>

        </article>

        <article id="layout-art2">
            <div class="form">
                <fieldset data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list">
               <ul>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="accept">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>

        </article>
        <article id="layout-art3">
            <div class="form">
                <fieldset class="search" data-icon="search"><span class="icon search"></span>
                    <input type="search" placeholder="Search...">
                </fieldset>
            </div>
            <article id="" class="list">
               <ul>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
                    <li class="cancel">
                        <strong>List Item</strong>
                        <small>Description</small>            
                    </li>
               </ul>
            </article>
        </article>

        <footer class="footer">
            <h1 class="title centered">Sticky Footer</h1>
        </footer>
    </section>