<aside id="side-drawer" data-transition="left" class="show">
    <header data-title="Slider">
        <h1 class="title centered">
        </h1>
        <nav class="on-right">
            <a href="#" class="buttons" data-icon="settings"><span class="icon settings"></span></a>
        </nav>
    </header>
    <article class="list scroll active">
        <ul>
            <!-- Basic Layout -->
            <li data-view-article="main-article" data-icon="question-sign" class="active">
                <strong>
                    One
                </strong>
            </li>
            <li data-view-section="layout" data-icon="user">
                <div class="tag on-right">
                    5
                </div>
                <strong>
                    Two
                </strong>
            </li>
            <!-- List -->
            <li data-view-article="list" data-icon="list">
                <div class="tag on-right">
                    22
                </div>
                <strong>
                    Three
                </strong>
            </li>
        </ul>
    </article>
</aside>